<%= stylesheet_link_tag "new_and_edit", "data-turbo-track": "reload" %>
<div class="new-page">
    <div class="back">
        <%= link_to '< Back', users_path %>
    </div>
    <p>Register</p>
    <div class="new-edit-form">
        <%= render "form", user: @user%>
    </div>
</div>
