.index-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 768px;
    padding: 3rem;
    border-radius: 24px;
    background-color: white;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid rgb(232, 232, 232);
        margin-bottom: 2rem;

        p {
            font-size: 1.3rem;
            font-weight: 600;
        }

        a {
            text-decoration: none;
            color: white;
            border: 1px solid rgba(225, 225, 225, 0);
            background-color: rgb(87, 154, 231);;
            border-radius: 24px;
            padding: 0.5rem 1rem 0.5rem 1rem;
        }
    }

    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-bottom: 2rem;

        .name {
            flex: 3;
            overflow-x: hidden;
            a {
                text-decoration: none;
                color: black;
            }
        }

        .detail-button {
            display: flex;
            justify-content: end;
            flex: 1;
            a {
                text-decoration: none;
                text-align: center;
                color: black;
                font-size: 0.9rem;
                border: 1px solid rgba(225, 225, 225, 0);
                background-color: rgb(172, 255, 182);
                border-radius: 24px;
                padding: 0.3rem 0.7rem 0.3rem 0.7rem;
            }
        }
    }
}