.new-edit-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-page {
    background-color: white;
    border-radius: 2rem;
    padding: 3rem;
    max-width: 768px;
    width: 100%;

    .back {
        a {
            text-decoration: none;
            font-size: 0.9rem;
            color: rgb(141, 141, 141);
        }
    }

    p {
        font-size: 1.4rem;
        font-weight: 600;
        padding-left: 2rem;
        margin: 2rem 0 2rem 0;
    }
}

@media screen and (max-width: 519px) {
    html {
        background-color: white;
    }
    .new-page{
        border-radius: 0;
    }
    p {
        padding: 0 !important;
    }
}
